.blog-posts-container
{
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

}

body
{
  background-color: 	#B22222;
  position: relative;
  margin: 0;
}
