header{
  background-color: #fffdd0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 1%;
}

#aboutTab-button
{
  background: white;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-size: $headerFontSize;
}

#coffeecup
{
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  left: 0;
  top: 0;
  margin: auto;
}

#flash-bar
{
  font-size: $headerFontSize;

  li
  {
    display: inline;
    padding-left: 20px;
    padding-righ: 10px;
  }
  a
  {
    text-decoration: none;
    text-align: center;
  }
}
