header{
  background-color: #fffdd0;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header-content
{
  #aboutTab-button
  {
    style: none;
  }

  #flash-bar
  {

  }
}
