header{
  background-color: #fffdd0;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

#aboutTab-button
{
  background: #B22222;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-size: $headerFontSize;
}

#coffeecup
{
  padding-top:10px;
  padding-bottom:10px;
}

#flash-bar
{
  font-size: $headerFontSize;
  color: #B22222
}
